<header class="headerContainer">
    <div class="logoContainer">
        <img src="/assets/img/logo.jpg" class="logoImage">
      </div>
    <img src="/assets/img/hamburguer.svg" alt="hamburguer" id="hamburguerHeader"/>
    <nav class="linksHeader">
      <ul>
          <li><a href="http://localhost:3000/login">BCU Cliente</a></li>
      </ul>
    </nav>
</header>
