<header class="headerContainer">
    <div class="logoContainer">
        <img src="/assets/img/logo.jpg" class="logoImage">
      </div>
    <img src="/assets/img/hamburguer.svg" alt="hamburguer" id="hamburguerHeader"/>
    <nav class="linksHeader">
        <ul>
            <li><a href="/instituicional">Institucional</a></li>
            <li><a href="/empresas">Empresas</a></li>
            <li><a href="/login">BCU Online</a></li>
        </ul>
    </nav>
</header>
