<div class="sideBarControler">
<aside class="sideBarContainer">
    <nav>
        <a id="btnSair" class="linkButtonSair"><img src="/assets/img/logout.svg"/>Sair</a>
    </nav>
</aside>
</div>
<div class="logoutModal hide">
  <h3>Desejas Terminar a Sessão ?</h3>
  <button id="btnSairYES">Sim</button>
  <button id="btnSairNO">Não</button>
  <h4>Banco Comercial Ujamaa</h4>
</div>