<div class="menuContainer">
  <nav>
    <ul class="menuMobileItems">
      <li>
        <h3>BCU</h3>
        <hr id="divisor">
        <ul class="">
          <li><a href="/instituicional">Intituicional</a></li>
          <li><a href="/login">BCU Direito</a></li>
          <li><a href="/empresas">Empresas</a></li>
        </ul>
      </li>
      <li>
        <h3>Produtos</h3>
        <hr id="divisor">
        <ul class="">
          <li><a href="/contas">Contas</a></li>
          <li><a href="/cartoes">Cartões</a></li>
          <li><a href="/creditos">Créditos</a></li>
        </ul>
      </li>
      <li>
        <h3>Serviços</h3>
        <hr id="divisor">
        <ul class="">
          <li><a href="/internet_banking">Internet Banking</a></li>
        </ul>
      </li>
      <li>
        <h3>Apoio ao Cliente</h3>
        <hr id="divisor">
        <ul class="">
          <li><a href="/apoio_ao_cliente">Linha 24H</a></li>
          <li><a href="/perguntas_frequentes">Perguntas Frequentes</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
