<div class="sideBarControler">
<aside class="sideBarContainer">
    <nav>
      <a href="/dashboard/" class="linkButton"><img src="/assets/img/instituicao.svg"/>Dashboard</a>
        <a href="/dashboard/cartoes" class="linkButton"><img src="/assets/img/card.svg"/>Cartões</a>
        <a href="/dashboard/creditos_tipos" class="linkButton"><img src="/assets/img/pig.svg"/>Créditos</a>
        <!-- <a href="/dashboard/depositos" class="linkButton"><img src="/assets/img/in.svg"/>Depositos</a> -->
        <a href="/dashboard/levantamentos" class="linkButton"> <img src="/assets/img/out.svg"/>Levantamento</a>
        <!-- <a href="/dashboard/pagamentos" class="linkButton"><img src="/assets/img/payment.svg"/>Depósitos</a> -->
        <a href="/dashboard/transferencias" class="linkButton"><img src="/assets/img/transfer.svg"/>Transferências</a>
        <a href="/dashboard/definicoes/dados_pessoais" class="linkButton"><img src="/assets/img/user.svg"/>Dados do Utilizador </a>
        <a href="/dashboard/utilizador" class="linkButton"><img src="/assets/img/user.svg"/>Utilizador</a>
        <a href="/dashboard/definicoes" class="linkButton"><img src="/assets/img/setting.svg"/>Definições</a>
        <!-- <a href="/dashboard/contactos" class="linkButton"><img src="/assets/img/phone.svg"/>Contactos</a> -->
    </nav>
</aside>
</div>
<div class="logoutModal hide">
  <div class="modalOut">
    <div class="modalItems">
      <h3>Desejas Terminar a Sessão ?</h3>
      <button id="btnSairYES">Sim</button>
      <button id="btnSairNO">Não</button>
      <h4>Banco Comercial Ujamaa</h4>  
    </div>
      </div>
</div>