<div class="sideBarControler">
<aside class="sideBarContainer">
    <nav>
      <a href="/funcionario/dashboard/" class="linkButton"><img src="/assets/img/instituicao.svg"/>Dashboard</a>
        <a href="/funcionario/dashboard/tipos_contas" class="linkButton"><img src="/assets/img/card.svg"/>Contas</a>
        <a href="/funcionario/dashboard/credito_tipos_novo" class="linkButton"><img src="/assets/img/pig.svg"/>Créditos</a>
        <a href="/funcionario/dashboard/transacao" class="linkButton"><img src="/assets/img/pig.svg"/>Transações</a>
        <a href="/funcionario/dashboard/creditos_clientes" class="linkButton"><img src="/assets/img/pig.svg"/>Créditos Em Aprovação</a>
        <a href="/dashboard/definicoes/dados_pessoais" class="linkButton"><img src="/assets/img/user.svg"/>Clientes</a>
        <a href="/funcionario/dashboard/utilizador" class="linkButton"><img src="/assets/img/user.svg"/>Utilizador</a>
        <a href="/funcionario/dashboard/definicoes" class="linkButton"><img src="/assets/img/setting.svg"/>Definições</a>
    </nav>
</aside>
</div>
<div class="logoutModal hide">
  <div class="modalOut">
    <div class="modalItems">
      <h3>Desejas Terminar a Sessão ?</h3>
      <button id="btnSairYES">Sim</button>
      <button id="btnSairNO">Não</button>
      <h4>Banco Comercial Ujamaa</h4>  
    </div>
      </div>
</div>