<div class="levantamentoItem">
    <p class="cabecalhoItem"><span><%=valor%></span> <span>KZ</span></p>
    <p class="cabecalhoItem">
        <span>Data:</span> <span><%=`${new Date(data).getDate()} - ${new Date(data).getMonth() + 1} - ${new Date(data).getFullYear()}  ${new Date(data).getHours()}:${new Date(data).getMinutes()}`%></span>  
    </p>
    <div class="levantamentoAction">
        <button>Exportar</button>
    </div>
</div>
