<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BCU Levantamento</title>
  <style>
    #container {
      display: flex;
      flex-direction: column;
      padding: 2%;
      border: 2px solid rgb(13, 13, 14);
      color: white;
    }

    div {
      background-color: blueviolet;
      color: white;
      padding: 0.5rem;
      border-top-left-radius: 16px;
      border-bottom-right-radius: 16px;
      font-size: 14px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }


    a {
      font-size: 20px;
      padding: 0.5rem;
      color: white;
      text-decoration: none;
    }

    footer {
      bottom: 0.5rem;
      color: white;
      width: inherit;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      font-size: 10pt;
      font-weight: 700;
      font-family: Ubuntu, system-ui, -apple-system, Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    #code {
      font-weight: 700;
      letter-spacing: 5px;
      font-size: 20px;
      color: black;
    }

    blockquote {
      color: white;
    }
  </style>
</head>

<body>
  <div class="container">
    <div>
      <a href="http://127.0.0.1:3000">
        <h1 style="color: white;">BCU</h1>
      </a>
      <h2 style="color: white;">Levantamento de Dinheiro</h2>
      <p style="color: white;">Ola cliente <b>
          <%=cliente.nome%>
        </b>, solicitaste o levantamento de <b>
          <%=cliente.quantidade%>,00
        </b></p>
      <h3 style="color: white;">Codigo Secreto:<b id="code">
          <%=cliente.code%>
        </b></h3>
      <h3 style="color: white;">Codigo do Levantamento:<b id="code">
          <%=cliente.codeLevantamento%>
        </b></h3>
      <blockquote><i>Por motivos de segurança nunca partilhe os codigos acima</i></blockquote>
      <br>
      <footer>
        <p>© 2024 Banco Comercial Ujamaa </p>
        <br>
        <p><span> </span>Todos os direitos reservados</p>
      </footer>
    </div>

  </div>
</body>

</html>