<%- include('partials/head',{title:'BCU Cadastrar'})%>
<%- include('partials/header')%>
<div class="container">
<section class="loginContainer">
        <form class="formContainer" id="loginForm">
            <div>
                <label for="nome">Nome</label>
                <input type="text" name="nome" id="nome" placeholder="Primeiro Nome" required>
            </div>
            <div>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="Email" required>
            </div>
            <div>
                <label for="password">Senha</label>
                <input type="password" name="senha" minlength="4" maxlength="16" id="password" placeholder="Senha" required>
            </div>
            <div>
                <label for="password">Confirm Senha</label>
                <input type="password" minlength="4" maxlength="16" name="senha-confirma" id="passwordConfirm" placeholder="Repetir Senha" required>
            </div>
            <button type="submit" id="cadastrarBtn">Cadastrar</button>
        </form>
        <p class="linkConta">Já tem Conta ? <br/> <a href="/login">Login</a></p>
        <div class="infoContainer">
            <p class="info"></p>
        </div>   
        <a href="/recuperacao" id="recuperarCredencias">Recuperar suas Credenciais</a>
    </section>
</div>
<%- include('partials/footerlandpage')%>
    <%- include('partials/pageEnd')%>
