
<%- include('partials/head',{title:'BCU Login'})%>
<%- include('partials/header')%>
<div class="container">
    <section class="loginContainer">
        <form class="formContainer" id="loginForm">
            <div>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="Email" required>
            </div>
            <div>
                <label for="password">Senha</label>
                <input type="password" name="senha" id="password" placeholder="Senha" required>
            </div>
            <button type="button" id="loginBtn">Entrar</button>
        </form>
        <p class="linkConta">Não tem Conta ? <br/><a href="/cadastrar">Cadastrar</a></p>
        <div class="infoContainer">
            <p class="info"></p>
        </div>   
        <a href="/recuperacao" id="recuperarCredencias">Recuperar suas Credenciais</a>
    </section>
</div>

<%- include('partials/footerlandpage')%>
<%- include('partials/pageEnd')%>
