
<%- include('partials/head',{title:'BCU Login'})%>
<%- include('partials/header')%>
<div class="container">
<section class="loginContainer">
        <form class="formContainer" id="recuperacaoForm">
            <div>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="Escreva o Seu Email">
            </div>
            <button type="button" id="recuperarBtn">Recuperar</button>
        </form>
        <br>
        <p class="linkConta">Não tem Conta ? <br/><a href="/cadastrar">Cadastrar</a></p>
        <div class="infoContainer">
            <p class="info"></p>
        </div>   
    </section>
</div>
<%- include('partials/footerlandpage')%>
<%- include('partials/pageEnd')%>
