<section class="slideSection">
  <div class="slideWrapper">
    <div class="slides">
      <img src="/assets/img/flor.jpg" alt="" id="slide-1">
      <img src="/assets/img/plantaJovem.jpg" alt="" id="slide-2">
      <img src="/assets/img/tanzania.jpg" alt="" id="slide-3">
      <img src="/assets/img/africaWonder.jpg" alt="" id="slide-4">
    </div>
    <div class="sliderNav">
      <a href="#slide-1"></a>
      <a href="#slide-2"></a>
      <a href="#slide-3"></a>
      <a href="#slide-4"></a>
    </div>
  </div>
</section> 
