
<%- include('partials/head',{title:'BCU'})%>
<%- include('partials/header')%>
<div class="container">    
    <section class="loginContainer">
        <h1 class="autorizacao">Upps! Não possuis autorização suficiente!</h1>
        <p class="linkConta">Não tem Conta ? <br/><br/><br/><a href="/cadastrar">Cadastrar</a> | | <a href="/login">Login</a></p>   
    </section>
</div>
    <%- include('partials/footerlandpage')%>
<%- include('partials/pageEnd')%>
