<header class="defenicoesHeader">
    <h1>Definições</h1>
    <nav>
        <ul>
               <li><a href="/funcionario/dashboard/definicoes/seguranca">Atualizar Senha</a></li>
            <li><a href="/funcionario/dashboard/definicoes/email/">Atualizar Email</a></li>
        </ul>
    </nav>
</header>