<div class="funcionarioContaItem">
    <input type="text" value= <%=transacao.nome%> id="transacaoNomeField">
    <div class="levantamentoAction">
            <a href="#" class="delete-link" id="levantamentoCancelar" data-id=<%=transacao.id %>>Eliminar</a>
            <a href="#" class="update-link" id="update" data-id=<%=transacao.id %>>Update</a>
    </div>
</div>
