<div class="contaItem">
    <input type="text" value=<%=conta.nome %> id="contaNome">
    <!-- <h4></h4> -->
    <div class="levantamentoAction">
            <a href="#" class="delete-link" id="levantamentoCancelar" data-id=<%=conta.id %>>Eliminar</a>
            <a href="#" class="update-link" id="update" data-id=<%=conta.id %>>Atualizar</a>
    </div>
</div>